@keyframes shake {
    0% {
      transform: translate(0, 0);
    }
    10% {
      transform: translate(3px, 0);
    }
    35% {
      transform: translate(-3px, 0);
    }
    53% {
      transform: translate(5px, 0);
    }
    71% {
      transform: translate(-5px, 0);
    }
    85% {
      transform: translate(3px, 0);
    }
    91% {
      transform: translate(-1px, 0);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  