.services {
    min-height: 100vh;
    align-items: center;
    display: flex;
    .container {
        height: 100%;
    }
    
    .card {
        padding-bottom: 1.5rem;
        
        justify-content: center;
        width: 420px;
        
        @include breakpoint-down(xxl){
            width: 700px;
            max-width: 50%;    
        }
        @include breakpoint-down(xl){
            width: 500px;
            max-width: 50%;    
        }
        @include breakpoint-down(lg){
            max-width: 49%;    
        }
        @include breakpoint-down(md){
            max-width: 100%;    
        }
        
        
        &-body{
            padding: 0;
            @include breakpoint-down(md) {
                text-align: center;
            }
        }
        border-style: none;
        &-icon {
            width: 70px;
            
            @include breakpoint-down(lg) {
                transform: scale(0.8);
            }
            
            &:hover{
                animation: shake 0.8s ease;
            }
        }
    }
    &-text {
        margin-bottom: 2rem;
        @include breakpoint-down(md) {
            text-align: center;
               
        }
    }
    .row {
        justify-content: space-between;
        @include breakpoint-down(xxl) {
            justify-content: start;
        }
        @include breakpoint-down(md) {
            justify-content: center;
        }
    }
    .col {
        display: grid;
        justify-content: center;
        align-items: center;
        @include breakpoint-down(md) {
            padding-bottom: 1.5rem;
            flex: auto;
        }
    }
}